src/main/mule/mulesoft-demo-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea6800d9-b71d-457c-aa9d-125a0578a7dc" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-demo-applicationFlow" doc:id="e659476d-d119-4e32-b934-efd16072929a" >
		<http:listener doc:name="Listener" doc:id="0042212a-b250-428e-9b3b-f17a32fd4f0d" config-ref="HTTP_Listener_config" path="/welcome"/>
		<logger level="INFO" doc:name="Logger" doc:id="6eeb76b3-beba-40fa-a896-9d1bab8448d8" message="This is my DEMO"/>
		<set-payload value="#['cloudHub deployment using mvn plugin']" doc:name="Set Payload" doc:id="1d0d2cd2-4381-4ac0-913d-9e004582922b" />
		<ee:transform doc:name="Transform Message" doc:id="83e0412d-3d04-4096-83ff-a21c225948f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="bdallA" doc:id="796ff2f2-2a0a-430a-a536-1e4019205eed" message="mr me me"/>
		<logger level="INFO" doc:name="Logger" doc:id="719f9f62-a3d9-4cc1-8d96-2904399d0266" message="#[payload]"/>
		<logger level="INFO" doc:name="Step Logger" doc:id="47177dfb-ee43-4e84-97d5-bc9055974c9e" message='#["hello world"]'/>
		<ee:transform doc:name="Transform Message" doc:id="f0faf679-2d35-423c-baf3-4ad7522db1c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7e882a1c-9a77-494d-816c-b12262a1fced" message="'test project'"/>
		<set-payload value="#['changed will happen when i add set payload']" doc:name="Set Payload" doc:id="84ce31d5-cb72-458f-b25f-f5c7c3b11972" />
		<ee:transform doc:name="yes i have a problem with abidella" doc:id="33537c02-e693-44fe-8f51-b1fb8d9be971" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f7798b91-d9f5-45e9-bfab-9076df377a91" message="'the is the last change ade on this project'"/>
	</flow>
</mule>
